* {
    margin: 0px;
}

#indexbody {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#startdiv { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#startblok, #questionSelect {
    position: relative;
    height: 400px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
}

#starttitel, #titel {
    text-align: center;
    margin-top: 45px;
}

#starttext, #stelling {
    margin-top: 60px;
    font-size: 24px;
    text-align: center;
}

#titel, #stelling, #eensbutton, #gvbbutton, #oneensbutton, #skipbutton, #questionSelect, #partiesSelect, #resultScreen {
    display: none;
}

#stelling {
    font-size: 20px;
}

#startbutton, #eensbutton, #gvbbutton, #oneensbutton, #skipbutton {
    position: absolute;
    margin-top: 130px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#startbutton {
    margin-left: 350px;
    background-color: rgb(28, 32, 164);
}

#eensbutton {
    margin-left: 80px;
}

#gvbbutton {
    margin-left: 255px;
    color: black;
}

#oneensbutton {
    margin-left: 440px;
}

#skipbutton {
    margin-left: 600px;
    color: black;
}

#backbutton {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#questionForm, #nextbutton, #partieForm, #btnEnd, #partieDisplayList {
    margin-left: 25px;
}